The kem barbershop/make_blueprint_recordatorios.json
{
  "name": "The Kem — Recordatorios Diarios",
  "flow": [
    {
      "id": 1,
      "module": "google-sheets:searchRows",
      "version": 2,
      "parameters": {
        "__IMTCONN__": null,
        "spreadsheetId": "REEMPLAZAR_CON_ID_DE_TU_GOOGLE_SHEET",
        "sheetId": "Contactos",
        "includesHeaders": true,
        "limit": 500
      },
      "mapper": {
        "filter": {
          "conditions": [
            [
              {
                "a": "{{ProximoRecordatorio}}",
                "o": "text:equal",
                "b": "{{formatDate(now; \"YYYY-MM-DD\")}}"
              },
              {
                "a": "{{Estado}}",
                "o": "text:equal",
                "b": "activo"
              }
            ]
          ]
        }
      },
      "metadata": {
        "designer": { "x": 0, "y": 0 }
      }
    },
    {
      "id": 2,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDeCompress": true
      },
      "mapper": {
        "url": "https://api.twilio.com/2010-04-01/Accounts/REEMPLAZAR_ACCOUNT_SID/Messages.json",
        "serializeUrl": false,
        "method": "post",
        "headers": [],
        "qs": [],
        "bodyType": "application/x-www-form-urlencoded",
        "formData": [
          { "key": "To",   "value": "whatsapp:{{1.Telefono}}" },
          { "key": "From", "value": "whatsapp:REEMPLAZAR_NUMERO_TWILIO" },
          { "key": "Body", "value": "✂️ *¡Hola {{1.Nombre}}!* Te escribe *The Kem Barbershop*.\n\nSegún tu rutina, *ya es hora de tu próximo corte* 💈\n\n¿Agendamos? Escríbenos y te reservamos tu hora.\n\n— The Kem ✂️" }
        ],
        "authUser": "REEMPLAZAR_ACCOUNT_SID",
        "authPass": "REEMPLAZAR_AUTH_TOKEN",
        "timeout": 30,
        "shareConn": false,
        "parseResponse": true,
        "followRedirect": true,
        "useQuerystring": false
      },
      "metadata": {
        "designer": { "x": 300, "y": 0 }
      }
    },
    {
      "id": 3,
      "module": "google-sheets:updateRow",
      "version": 2,
      "parameters": {
        "__IMTCONN__": null,
        "spreadsheetId": "REEMPLAZAR_CON_ID_DE_TU_GOOGLE_SHEET",
        "sheetId": "Contactos",
        "includesHeaders": true
      },
      "mapper": {
        "rowNumber": "{{1.__ROW_NUMBER__}}",
        "values": {
          "ProximoRecordatorio": "{{formatDate(addDays(now; if(1.Frecuencia = \"Cada 7 días\"; 7; if(1.Frecuencia = \"Cada 14 días\"; 14; if(1.Frecuencia = \"Mensual\"; 30; 60)))); \"YYYY-MM-DD\")}}"
        }
      },
      "metadata": {
        "designer": { "x": 600, "y": 0 }
      }
    }
  ],
  "metadata": {
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": true,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": { "orphans": [] },
    "zone": "us2.make.com"
  }
}
